*{
margin:0;
padding:0;	
}
body{
	font-family: sans-serif;
}
#nav-bar{
	position: sticky;
	top: 0;
	z-index: 10;
}
.navbar{
	background-image: linear-gradient(to right, #a517ba,#5f1782);
	padding: 0 !important;
}
.navbar-brand img{
height: 50px;
padding-left: 20px;
}
.navbar-nav li{
padding: 0 10px;
}
.navbar-nav li a{
color: #f8f9fa !important;
font-weight: 600;
}
.div.dropdown-menu.show{ 	
	background-color:#a517ba,#5f1782 !important;
}
.dropdown-menu a{
	background-color: #a517ba,#5f1782; 
}
a{
	text-decoration: none;
	color: black;
	display: block;
}

/*bbbbbbbbbbbbaaaaaaaaaaaaaaaannnnnnnnnnnnnnnneeeeeeeeeeeeeeerrrrrrrrrrrrrrr*/

.mySlides {
  display: none;
}
#discription{
	margin-top: 10px;
	background-color: #eee;
	padding: 80px 0;

}
.discription h3{
	margin-top: 15px;
	padding-bottom: 20px;

}
.title::before{
	content: '';
	background:black ;
	height: 5px;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	transform: translateY(49px);
}
.title::after{
	content: '';
	background:black ;
	height: 10px;
	width: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	display: block;
	transform: translateY(8px);
}
#service{
	padding: 80px 0;
	
}
#main-content-section{
	padding: 80px 0;
	margin-left:30px; 
}
.service-img{
	width: 100px;
	margin-top: 20px;
}
.services{
	padding: 20px;
}
.services h4{
	padding: 5px;
	margin-top: 25px;
	text-transform: uppercase;
}
#subscribe{
	background-color: #D2B4DE;
	padding: 0px 0px;
	border-top: 2px solid blue;
	border-bottom: 4px solid black;
	color: black;
}
.newsletter h4{
	color: black;
}
/*---------------------footer---------------*/
#footer{
	background-color: black;
	color:#fff;
}
.footer-box{
	padding: 20px;
}
.footer-box img{
	width: 150px;
	margin-bottom: 20px;
}
.footer-box .fa{
	margin-right: 8px;
	font-size: 20px;
	height: 40px;
	text-align:50px center;
	padding-top: 7px;
	border-radius: 2px;

}
.footer-box .from-control{
	box-shadow: none !important;
	border: none;
	border-radius: 0;
	margin-top: 25px;
	max-width: 300px;
}
.footer-box .btn-primary{
	box-shadow: none !important;
	border: none;
	border-radius: 0;
	margin-top: 35px;
	background-color: grey;
}
hr{
	border-top: 2px solid white;
}
#footer ul li a{
	display: inline;
	float: none;
	padding-right: 7px;
}
.copyright{
	margin-bottom: 0;
	padding-bottom: 10px;
	font-size: 13px;
	text-align: center;
}
